<div class="bot-container">
  <h2>Feed the Data</h2>
  <img src="https://media.istockphoto.com/id/1221348467/vector/chat-bot-ai-and-customer-service-support-concept-vector-flat-person-illustration-smiling.jpg?s=612x612&w=0&k=20&c=emMSOYb4jWIVQQBVpYvP9LzGwPXXhcmbpZHlE6wgR78=" alt="Smiling chatbot with headset and microphone on a blue gradient background, conveying a friendly and helpful mood. No visible text." class="bot-illustration" [class.eating]="isEating" />


  
  <div class="upload-section">
    <input type="file" (change)="onFileUpload($event)" accept=".xlsx, .xls" />
  </div>

  <input type="text" class="query-box" placeholder="Ask me anything you idiot..."  />
  <button class="submit-btn" (click)="submitQuery()">Give Results</button>
</div>

<div class="half-screen-container">
  <img src="https://www.google.com/imgres?q=data%20images&imgurl=https%3A%2F%2Fmiro.medium.com%2Fv2%2Fresize%3Afit%3A1024%2F1*rkXJRmH8b1rbK5tmyf65Og.jpeg&imgrefurl=https%3A%2F%2Fmedium.com%2Fanalytics-vidhya%2Fa-guide-to-big-data-analytics-734fad1d9e5&docid=wio-JJpZXdo6jM&tbnid=Hcfehddaa4h-kM&vet=12ahUKEwiDgOfjmeWOAxUhhagCHdQmHVIQM3oECB8QAA..i&w=1024&h=682&hcb=2&ved=2ahUKEwiDgOfjmeWOAxUhhagCHdQmHVIQM3oECB8QAA" alt="Data Warehouse Logo" class="logo" />

  </div>
